.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem 3.4rem;
    height: 420px;
    font-size: 1rem;
    background: linear-gradient($black-transparent, $grey-transparent);

    &__subtitle {
        font-size: 1.6em;
        font-weight: $font-weight-super;
    }
}

@include respond(md) {
    .lead {
        align-items: start;
        gap: 5rem;
        padding: 0 3.4rem;
        height: 450px;
        font-size: 1.3rem;
    }
}

@include respond(lg) {
    .lead {
        padding: 0 8rem;
        height: 490px;
        font-size: 2rem;
    }
}
