.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 33px;
    border-radius: 10rem;
    font-weight: $font-weight-super;
    font-size: 1.6rem;

    &_outlined {
        background: none;
        border: 2px solid $yellow;
        color: $yellow;

        &:hover {
            border-color: $yellow-transparent;
            color: $yellow-transparent;
            cursor: pointer;
        }
    }

    &_fill {
        background: $yellow;
        color: $black;

        &:hover {
            background: $yellow-transparent;
            cursor: pointer;
        }
    }
}
