.button {
    display: flex;
    justify-content: center;
    align-items: center;
    // default size
    width: 160px;
    height: 33px;
    border-radius: 10rem;
    font-weight: $font-weight-super;
    font-size: 1.6rem;
    background: none;

    &:hover {
        cursor: pointer;
    }

    &_outlined {
        border: 2px solid $yellow;
        color: $yellow;

        &:hover {
            border-color: $yellow-transparent;
            color: $yellow-transparent;
        }
    }

    &_contained {
        background: $yellow;
        color: $black;

        &:hover {
            background: $yellow-transparent;
        }
    }

    &_text {
        display: inline-block;
        background: none;
        color: $yellow;
        font-size: inherit;

        &:hover {
            color: $yellow-transparent;
        }
    }

    &_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
    }
}
