.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    padding: 0.7em 2em;
    font-size: 1.2em;
    font-weight: $font-weight-super;

    &_outlined {
        background: none;
        border: 2px solid $yellow;
        color: $yellow;

        &:hover {
            border-color: $yellow-transparent;
            color: $yellow-transparent;
            cursor: pointer;
        }
    }

    &_fill {
        background: $yellow;
        color: $black;

        &:hover {
            background: $yellow-transparent;
            cursor: pointer;
        }
    }
}
