$breakpoints: (
    sm: 360px,
    md: 768px,
    lg: 1240px,
);

@mixin respond($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}
