@use 'variables' as *;
@use 'breakpoints' as *;

// typography
.paragraph {
    margin-bottom: 2rem;
    color: $white-transparent;
    font-weight: $font-weight-bold;
    line-height: 1.2;

    // The @include respond(md) mixin applies styles for large screens
    @include respond(md) {
        font-size: 1.6rem;
    }

    // The @include respond(lg) mixin applies styles for large screens
    @include respond(lg) {
        font-size: 2rem;
    }
}

.em {
    &_yellow {
        color: $yellow;
    }

    &_pink {
        color: $pink;
    }
}

// links
.link {
    & .em.em_yellow,
    &:visite .em.em_yellow {
        color: $yellow;
    }

    &:hover .em.em_yellow {
        color: $yellow-transparent;
    }
}

// blocks
section {
    padding-top: 5rem;
    font-size: 1.4rem;

    // The @include respond(md) mixin applies styles for large screens
    @include respond(md) {
        font-size: 1.6rem;
    }

    // The @include respond(lg) mixin applies styles for large screens
    @include respond(lg) {
        padding-top: 6rem;
        font-size: 2rem;
    }
}
