// base colors
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.6);
$black: #000;
$black-transparent: rgba(0, 0, 0, 0);
$grey-transparent: rgba(15, 20, 32, 0.79);
$blue: #304571;
$yellow: #ebff00;
$yellow-transparent: rgba(235, 255, 0, 0.6);
$pink: #ff70d9;

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-super: 800;
