// base colors
$white: #fff;
$black: #000;
$blue: #304571;
$yellow: #ebff00;
$yellow-transparent: rgba(235, 255, 0, 0.6);
$pink: #ff70d9;

// margin and padding
$padding-s: 20px;
$padding-m: 25px;
$padding-md: 34px;
$padding-l: 50px;
$padding-xl: 80px;
$padding-xxl: 90px;
$gap-s: 20px;
$gap-m: 25px;

// font-size
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-md: 18px;
$font-size-l: 22px;
$font-size-xl: 36px;
$font-size-xxl: 40px;
$font-size-grand: 48px;
$font-size-super: 72px;

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-super: 800;
