@use 'normalize.scss';
@use 'globals.scss';

// main styles
body {
    margin: 0;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $blue;
}

html,
body,
#root {
    height: 100vh;
    max-height: 100vh;
    font-size: 62.5%;
    color: $white;
    font-weight: $font-weight-regular;
}
