@use 'modern-normalize';
@import 'normalize.scss';
@import 'globals.scss';

// main styles
body {
    margin: 0;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $blue;
    color: $white;
}

html,
body,
#root {
    height: 100vh;
    max-height: 100vh;
}
