.home {
    &__lead {
        justify-content: end;
        background:
            url('./2xearth.png') no-repeat left 15px top -100px,
            linear-gradient($black-transparent, $grey-transparent),
            url('./4xgalaxy.png') no-repeat center center;
        background-size:
            auto 336px,
            100% 100%,
            cover;
    }
}

// The @include respond(md) mixin applies styles for large screens
@include respond(md) {
    .home {
        &__lead {
            justify-content: center;
            // these paddings are based on the background image sizes, so they are in pixels
            padding-right: 260px;
            background-position:
                right -100px top 25px,
                0 0,
                center center;
            background-size:
                auto 367px,
                100% 100%,
                cover;
        }
    }
}

// The @include respond(lg) mixin applies styles for large screens
@include respond(lg) {
    .home {
        &__lead {
            padding-right: 500px;
            background-position:
                right 90px top 60px,
                0 0,
                center center;
            background-size:
                auto 367px,
                100% 100%,
                cover;
        }
    }
}
