.cards {
    padding-top: 5rem;
    &__list {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr;
        font-size: 1.6rem;

        &__item {
            width: 100%;
        }
    }
}

@include respond(md) {
    .cards {
        padding-top: 5.5rem;
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include respond(lg) {
    .cards {
        padding-top: 6rem;
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item:nth-child(3n + 1) {
            grid-column: span 2;
        }
    }
}
