.collapsing-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__summary {
        list-style: none;

        &::-webkit-details-marker,
        &::marker {
            display: none;
        }

        &:after {
            content: 'Learn more';
        }
    }
}
