.collapsing-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__hidden-checkbox {
        display: none;
    }

    &__content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            max-height 0.3s ease-out,
            opacity 0.3s ease-out,
            padding 0.3s ease-out;
        padding: 0;
    }

    &__btn {
        &:after {
            content: 'Learn more';
        }
    }

    &__hidden-checkbox:checked + &__btn:after {
        content: 'Show less';
    }

    &__hidden-checkbox:checked ~ &__content {
        max-height: 500px; // Large enough value
        opacity: 1;
        padding: 1rem 0;
    }
}
