.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-sm;
    padding: 0 2rem;
    background: $black;

    &__logo {
        height: 24px;
    }
}

// The @include respond(md) mixin applies styles for large screens
@include respond(md) {
    .header {
        height: 80px;
        padding: 0 5rem;
    }
}

// The @include respond(lg) mixin applies styles for large screens
@include respond(lg) {
    .header {
        padding: 0 9rem;

        &__logo {
            height: 35px;
        }
    }
}
