.nav-bar {
    font-size: 1.8rem;

    &__button {
        display: block;
    }

    &__list {
        display: none;
        position: absolute;
        top: $header-height-sm;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: $blue;

        &_open {
            display: flex;
            flex-direction: column;
            padding: 5rem;
        }
    }

    &__item {
        padding: 1.5rem 0;
        border-bottom: 1px solid $white-transparent;
        font-size: 2.2rem;
        &-cart {
            &:after {
                content: 'Cart';
                padding-left: 1rem;
            }
        }
    }
}

@include respond(md) {
    .nav-bar {
        .nav-bar__button {
            display: none;
        }

        &__list {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            background: transparent;
            gap: 5rem;
        }

        &__link:hover {
            background: linear-gradient(to right, $yellow, $pink);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &__link:hover &__path {
            fill: url(#gradient);
        }

        &__item {
            padding: 0;
            border: none;
            font-size: inherit;
            &-cart {
                &:after {
                    content: '';
                }
            }
        }
    }
}

@include respond(md) {
    .nav-bar {
        &__list {
            gap: 6rem;
        }
    }
}
