.nav-bar {
    position: relative;
    font-size: 1.8rem;

    &__button {
        display: block;
    }
}

// The @include respond(md) mixin applies styles for medium screens
@include respond(md) {
    .nav-bar {
        position: static;
        .nav-bar__button {
            display: none;
        }
    }
}
