.nav-bar {
    position: relative;
    font-size: 1.8rem;

    &__button {
        display: block;
    }

    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;

        &_open {
            display: flex;
            flex-direction: column;
        }
    }
}

@include respond(md) {
    .nav-bar {
        .nav-bar__button {
            display: none;
        }

        &__list {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            background: transparent;
            gap: 5rem;
        }

        &__link:hover {
            background: linear-gradient(to right, $yellow, $pink);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        &__link:hover &__path {
            fill: url(#gradient);
        }
    }
}

@include respond(md) {
    .nav-bar {
        &__list {
            gap: 6rem;
        }
    }
}
