.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: $padding-s 0;
    background: $black;
    height: 127px;

    &__img {
        width: 70px;
        height: auto;
    }

    &__link {
        font-size: $font-size-md;
        font-weight: $font-weight-super;
    }
}
