.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    font-size: 1rem;

    &__content {
        padding: 2rem 2rem;
    }
}

// The @include respond(md) mixin applies styles for large screens
@include respond(md) {
    .main-layout {
        &__content {
            padding: 3rem 3rem;
        }
    }
}

// The @include respond(lg) mixin applies styles for large screens
@include respond(lg) {
    .main-layout {
        &__content {
            padding: 8rem 8rem;
        }
    }
}
